body {
    background-color: #252526 !important;
    color: #b5b7bd;
    padding: 0;
    width: 100%;
}

html, body {

    margin: 0;
    height: 100%;

}

.df-and-jc-sa {
    display: flex;
    justify-content: space-around;
}

.df-and-jc-fx {
    display: flex;
    justify-content: flex-start;
}

.df-and-jc-sb {
    display: flex;
    justify-content: space-between;
}

.df-ai-bl-fd-c {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.hr-header {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #4a4a4a;
    height: 1px;
    z-index: 9999;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #a6b9f7;

}

.wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 75px);
}

.header {
    height: 75px;
    margin: 0;
    padding: 0;
    background-color: #252526;
    position: sticky;
    top: 0;

}

.content {
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 150px);
}


.footer {
    margin: 0;
    padding: 0;
    background-color: #252526;
    flex: 0 0 auto;
}

.main-picture {
    width: 100px;
    height: 50px;
}


.header ul {
    height: calc(100% - 1px);
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.header a {
    border-radius: 10px;
    padding: 10px 10px;
    font-family: sans-serif;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
}


.not-main:hover {
    border-radius: 10px;

    background-color: #b5b7bd;
    color: #252526;
}

.not-main:hover:after {
    border-radius: 10px;

    background-color: #b5b7bd;

    right: 0;
    left: 0;
    height: 100%;
}