.content ul {
    align-items: center;
    width: 600px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.df-ai-bl-fd-c {
    padding: 0;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.df-fd-c {
    display: flex;
    flex-direction: column;
}

.full_info {
    width: 600px;

    align-items: baseline;
    flex-direction: column;
}

.info {
    width: 100%;
}