@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Merriweather+Sans:wght@300&display=swap');

.df-and-jc-sa {
    display: flex;
    justify-content: space-around;
}

.df-and-jc-sb {
    display: flex;
    justify-content: space-between;
}

.df-ai-bl-fd-c {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.count-price {
    width: 30%;

}

.content {
    margin-top: 50px;
    text-align: center;
    height: 80%;
}

.money {
    color: #d3d5de;
}

.price {
    color: #0eeb0e;
    font-style: unset;
}

.info {
    padding: 10px;
}

.production {
    height: 75%;
    margin: 0;
    padding: 0;
}


.product {
    height: 80%;
    overflow: auto;

}

.info-broker-account {
    font-size: 20px;
}


.cost-of-account {
    font-size: 27px;
    width: 100%;
}

.content li {

    height: 100%;
    width: 465px;
    font-family: sans-serif;
}

.main-info {
    font-size: 20px;
    width: 100%;

}

.name {
    /*padding-left: 15px;*/
    color: white;

}

.more-info {
    width: 100%;
    color: #b5b7bd;
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;

}

.full_name {
    font-family: 'Kiwi Maru', serif;

}

.info:hover {
    background-color: #333336;
    color: #252526;

}

h2 {
    font-size: 27px;
    color: #dfe8e7;
    font-family: 'Montserrat', sans-serif;
}

.content h1 {
    padding-left: 28px;
    font-size: 37px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;

}

::-webkit-scrollbar {
    width: 7px; /* 1 - вертикальный скроллбар */
}

::-webkit-scrollbar:horizontal {
    height: 22px; /* 1 - горизонтальный скроллбар */
}

::-webkit-scrollbar-track-piece {
    background: #252526; /* 4 – видимая часть трека */
}

::-webkit-scrollbar-thumb {
    background: #dfe8e7;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* 5 - ползунок */
}

