.content ul {
    display: flex;
    justify-content: space-around;
}

.content a {
    border-radius: 10px;
    padding: 10px 10px;
    font-family: sans-serif;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
}


.content a:hover {
    border-radius: 10px;
    background-color: #b5b7bd;
    color: #252526;
}

.content a:after {
    border-radius: 10px;
    background-color: #b5b7bd;
    right: 0;
    left: 0;
    height: 100%;
}