.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}



.df-and-jc-sa {
    display: flex;
    justify-content: space-around;
}

.df-and-jc-sb {
    display: flex;
    justify-content: space-between;
}

.df-ai-bl-fd-c {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.button{
    border-radius: 10px;
    background-color: #4a68ff;
    border-color: #4a68ff;
}
.content li{

    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}
.content ul {
    align-items: center;
    text-align: center;
}