.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.product{
    align-items: center;
    text-align: center;
    font-size: 14px;

}

.products li a{
    font-size: 14px
}

.products ul {
    padding: 10px;
}

.products li{
    padding: 5px;
    width: 100%;
}

.df-and-jc-sa {
    display: flex;
    justify-content: space-around;
}

.df-and-jc-sb {
    display: flex;
    justify-content: space-between;
}

.df-ai-bl-fd-c {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}