{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{#    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">#}


    {% block head %}
    {% endblock head %}

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>

</head>
<body>

<header class="header">
    <ul>
        <a class="main-a" href="{% url 'main' %}"><img class="main-picture" src="{% static "media/main.jpg" %}"
                                                       alt="Главная"></a>

        {% if user.is_authenticated %}
            <li><a class="not-main" href="{% url 'user_profile' user.username %}">Профиль</a></li>
            <li><a class="not-main" href="{% url 'account' %}">Портфель</a></li>
            <li><a class="not-main" href="{% url 'investments_product' %}">Инвестиционные продукты</a></li>
            <li><a class="not-main" href="#{#{% url 'favourite' %}#}">Избранное</a></li>
            <li><a class="not-main" href="#{#{% url 'news' %}#}">Новости</a></li>
            <li><a class="not-main" href="{% url 'logout' %}">Выйти из аккаунта</a></li>
        {% else %}
            <li><a class="not-main" href="{% url 'investments_product' %}">Инвестиционные продукты</a></li>
            <li><a class="not-main" href="#{#{% url 'news' %}#}">Новости</a></li>
            <li><a class="not-main" href="{% url 'registration' %}">Регистрация</a></li>
            <li><a class="not-main" href="{% url 'login' %}">Войти</a></li>

        {% endif %}
    </ul>
    <hr class="hr-header">
</header>

<div class="wrapper">
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    <footer class="footer">
        INFO
    </footer>
</div>
</body>
</html>