{% extends 'investments/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/bond.css' %}">
{% endblock head %}

{% block title %}Bond{% endblock %}

{% block content %}

    {% if bond %}

        <div class="full_info">
            <ul class="df-ai-bl-fd-c">
                <h1>{{ bond.name }}</h1>
                <li>
                <li>{{ bond.price.normalize }} {{ bond.currency.symbol_currency }}</li>
                <li>{{ bond.ticker }}</li>

                <li>
                    <form action='{% url 'bond' bond.ticker %}' method="post">
                        {% csrf_token %}
                        <button type="submit">Купить</button>
                    </form>
                </li>

            </ul>
            <div class="info">{{ bond.information }}</div>
            <ul>
                {% for comment in comments %}
                    <li>
                        {{ comment.text }}
                    </li>
                {% endfor %}
            </ul>
        </div>



    {% endif %}
{% endblock content %}