{% extends 'investments/investments_product.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/stocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/investments_product.css' %}">

{% endblock head %}

{% block title %}Investments{% endblock %}

{% block products %}
    <h2>Каталог облигация</h2>
    <ul class="df-ai-bl-fd-c">
        {% for bond in object_list %}
            <li class="df-and-jc-sb product">
                <a href="{% url 'bond' bond %}">
                    <div  class="df-ai-bl-fd-c">

                        <div>{{ bond.name }}</div>
                        <div>Comments: {{ bond.count_comments }}</div>


                    </div>
                </a>
                <div>{{ bond.price.normalize }} {{ bond.currency.symbol_currency }}</div>

            </li>
        {% endfor %}
    </ul>
{% endblock products %}