{% extends 'investments/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/broker_account.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    {#<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&family=Recursive:wght@900&display=swap" rel="stylesheet">#}
{% endblock head %}

{% block title %}Broker account{% endblock %}

{% block content %}


        <h1>Мой портфель</h1>
        <ul class="df-and-jc-sa">
            <li>
                <div class="cost-of-account df-and-jc-sb">
                    <div class="name">Счет в рублях</div>
                    <div class="money">{{ cost_of_account.normalize }} ₽</div>
                </div>
            </li>
            <li>

                <div class="main-info df-and-jc-sb">
                    <div class="name">Пополненений на сумму</div>
                    <div class="money">{{ broker_account.replenishment_of_money.normalize }} ₽</div>
                </div>
                <div class="main-info df-and-jc-sb">
                    <div class="name">Выведено на сумму</div>
                    <div class="money">{{ broker_account.withdrawn_of_money.normalize }} ₽</div>
                </div>
            </li>

            <li>
                <div class="main-info df-and-jc-sb">
                    <div class="name">Дивидендный доход</div>
                    <div class="money">{{ broker_account.dividend_yield.normalize }} ₽</div>
                </div>
                <div class="main-info df-and-jc-sb">
                    <div class="name">Купонный доход</div>
                    <div class="money">{{ broker_account.coupon_yield.normalize }} ₽</div>
                </div>
            </li>
        </ul>
        <ul class="production df-and-jc-sa">
            <li>
                <h2>Акции {{ count_stocks.count }}</h2>
                <div class="product">
                    {% if count_stocks %}

                        {% for count_stock in count_stocks %}
                            <a href="{% url 'stock' count_stock.stock %}">
                                <div class="info df-ai-bl-fd-c">
                                    <div class="main-info df-and-jc-sb">
                                        <div class="name">{{ count_stock.stock }}</div>
                                        {# Здесь нужно посчитать цену всех акций на аккаунте                                        #}
                                        <div class="price">

                                            {{ count_stock.stock.price.normalize }}
                                            {{ count_stock.stock.currency.symbol_currency }}</div>
                                    </div>
                                    <div class="more-info df-ai-bl-fd-c">
                                        <div class="full_name">{{ count_stock.stock.name }}</div>
                                        <div class="count-price df-and-jc-sb">
                                            <div class="count">{{ count_stock.count_stock }} шт.</div>
                                            <div class="price">{{ count_stock.stock.price.normalize }}
                                                {{ count_stock.stock.currency.symbol_currency }}</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}

                    {% endif %}
                </div>
            </li>
            <li>
                <h2>Валюта {{ count_currencies.count }}</h2>
                <div class="product">

                    {% if count_currencies %}
                        {% for count_currency in count_currencies %}
                            <a href="{% url 'currency' count_currency.currency %}">
                                <div class="info df-ai-bl-fd-c">
                                    <div class="main-info df-and-jc-sb">
                                        <div class="name">{{ count_currency.currency }}</div>
                                        <div class="price">{{ count_currency.currency.price.normalize }} {{ count_currency.currency.purchase_currencies.symbol_currency }}</div>
                                    </div>
                                    <div class="more-info df-ai-bl-fd-c">
                                        <div class="full_name">{{ count_currency.currency.name }}</div>
                                        <div class="count-price df-and-jc-sb">

                                            <div class="count">{{ count_currency.count_currency }} шт.</div>
                                            <div class="price">{{ count_currency.currency.price.normalize }} {{ count_currency.currency.purchase_currencies.symbol_currency }}</div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
            <li>
                <h2>Облигации {{ count_bonds.count }}</h2>
                <div class="product">

                    {% if count_bonds %}
                        {% for count_bond in count_bonds %}
                            <a href="{% url 'bond' count_bond.bond %}">
                                <div class="info df-ai-bl-fd-c">
                                    <div class="main-info df-and-jc-sb">
                                        <div class="name">{{ count_bond.bond }}</div>
                                        <div class="price">{{ count_bond.bond.price.normalize }} {{ count_bond.bond.currency.symbol_currency }}</div>
                                    </div>
                                    <div class="more-info df-ai-bl-fd-c">
                                        <div class="full_name">{{ count_bond.bond.name }}</div>
                                        <div class="count-price df-and-jc-sb">

                                            <div class="count">{{ count_bond.count_bond }} шт.</div>
                                            <div class="price">{{ count_bond.bond.price.normalize }} {{ count_bond.bond.currency.symbol_currency }}</div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>

            </li>

        </ul>
{% endblock content %}