{% extends 'investments/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/bond.css' %}">
{% endblock head %}

{% block title %}Currency{% endblock %}

{% block content %}
    {% if currency %}

        <div class="full_info">
            <ul class="df-ai-bl-fd-c">
                <h1>{{ currency.name }}</h1>
                <li>
                <li>{{ currency.price.normalize }} {{ currency.symbol_currency }}</li>
                <li>{{ currency.ticker }}</li>

                <li>
                    <form action='{% url 'currency' currency.ticker %}' method="post">
                        {% csrf_token %}
                        <button type="submit">Купить</button>
                    </form>
                </li>

            </ul>
            <div class="info">{{ currency.information }}</div>
            <ul>
                {% for comment in comments %}
                    <li>
                        {{ comment.text }}
                    </li>
                {% endfor %}
            </ul>
        </div>



    {% endif %}
{% endblock content %}