{% extends 'investments/investments_product.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/stocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/investments_product.css' %}">

{% endblock head %}

{% block title %}Investments{% endblock %}

{% block products %}
    <h2>Валюта</h2>
    <ul class="df-ai-bl-fd-c">
        {% for currency in object_list %}
            <li class="df-and-jc-sb product">
               <a href="{% url 'currency' currency %}">{{ currency.name }}</a>
                <div>{{ currency.price.normalize }} {{ currency.symbol_currency }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock products %}