{% extends 'investments/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/investments_product.css' %}">

{% endblock head %}

{% block title %}Investments{% endblock %}

{% block content %}
    <ul>
        <li><a href="{% url 'stocks' %}">Акции</a></li>
        <li><a href="{% url 'bonds' %}">Облигации</a></li>
        <li><a href="{% url 'currencies' %}">Валюта</a></li>

    </ul>
<div class="products">
    {% block products %}

    {% endblock %}
</div>
{% endblock content %}