{% extends 'investments/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock head %}

{% block title %}Login{% endblock %}

{% block content %}
    {% if form.errors %}
        {{ forms.errors }}
    {% endif %}

    <form action='{% url 'login' %}' method="post">
        {% csrf_token %}
        <ul>
            {% for field in form %}
                <li class="df-ai-bl-fd-c">{{ field.name }} {{ field }}</li>
            {% endfor %}
                <button class="button" type="submit">Войти</button>

        </ul>
    </form>
{% endblock content %}