{% extends 'investments/base.html' %}
{% block head %}
{% endblock head %}

{% block title %}Registration{% endblock %}

{% block content %}

    {% if form.errors %}

    {% endif %}

    <form action='{% url 'registration' %}' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
{% endblock content %}