{% extends 'investments/investments_product.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/stocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/investments_product.css' %}">

{% endblock head %}

{% block title %}Stocks{% endblock %}

{% block products %}
    <h2>Каталог акций</h2>
    <ul class="df-ai-bl-fd-c">
        {% for stock in object_list %}
            <li class="df-and-jc-sb product">
                <a href="{% url 'stock' stock %}">
                    <div  class="df-ai-bl-fd-c">

                        <div>{{ stock.name }}</div>
                        <div>Comments: {{ stock.count_comments }}</div>


                    </div>
                </a>
                <div>{{ stock.price.normalize }} {{ stock.currency.symbol_currency }}</div>

            </li>
        {% endfor %}
    </ul>
{% endblock products %}