{% extends 'investments/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/bond.css' %}">
{% endblock head %}

{% block title %}Stock{% endblock %}

{% block content %}
    {% if stock %}
        <div class="full_info">
            <ul class="df-ai-bl-fd-c">
                <h1>{{ stock.name }}</h1>
                <li>
                <li>{{ stock.price.normalize }} {{ stock.currency.symbol_currency }}</li>
                <li>{{ stock.ticker }}</li>

                <li>
                    <form action='{% url 'currency' stock.ticker %}' method="post">
                        {% csrf_token %}
                        <button type="submit">Купить</button>
                    </form>
                </li>

            </ul>
            <div class="info">{{ stock.information }}</div>
            <ul>
                {% for comment in comments %}
                    <li>
                        {{ comment.0 }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock content %}