{% extends 'investments/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">

{% endblock head %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">

            <ul>
                <li>
                    <form action='{% url 'update_user_profile' user.username %}' method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form.profile_photo }}

                        <button type="submit">Изменить фото</button>
                    </form>
                    <img class="profile_photo" alt="profile_photo" src="/media/{{ user.profile_photo }}">

                </li>


            </ul>


    </div>
{% endblock content %}