{% extends 'investments/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">

{% endblock head %}

{% block title %}Profile{% endblock %}

{% block content %}
    {% if user_profile %}
        <ul>


            <li>
                <img class="profile_photo" alt="profile_photo" src="/src/investments/static/media/{{ user_profile.profile_photo }}">
            </li>

            <li class="df-and-jc-fx">
                <label>Подписчики: {{ user_profile.count_followers }}</label>
                <div></div>
            </li>

            <li class="df-and-jc-fx">
                <label>Подписки: {{ user_profile.count_followings }}</label>
                <div></div>
            </li>

            <li>Вы зарегестрировались:</li>
            <li>{{ user_profile.created_at }}</li>
        </ul>

    {% endif %}
    {% if operations %}
        <ul>
            {% for operation in operations %}
                {{ operation.created_at }}
                {% if operation.stock %}
                    {{ operation.stock }}
                {% endif %}
                {{ operation.count_product }}
                {{ operation.price_product }}
                {{ operation.buy_or_sell }}
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'update_user_profile' user_profile.username %}">Изменить профиль</a>


{% endblock content %}